body {
	background: #000000;

	* {
		color: #FFFFFF;
	}
}

.power-button {
	display: block;
	padding: 16px;
	text-align: center;
	cursor: pointer;
	user-select: none;

	svg {
		width: 120px;
		height: 120px;
	}

	&.active, &.active * {
		color: #0000FF;
	}
}

#options-button {
	display: block;
	cursor: pointer;
	user-select: none;
	font-size: 24px;
	text-align: center;

	&:hover {
		background-color: #333;
	}
}
