body {
	background: #000000;

	* {
		color: #FFFFFF;
	}
}

.power-button {
	font-size: 150px;
	cursor: pointer;
	user-select: none;

	&.active {
		color: #0000FF;
	}
}

#options-button {
	display: block;
	cursor: pointer;
	user-select: none;
	font-size: 24px;
	text-align: center;

	&:hover {
		background-color: #333;
	}
}
